body{
background-color:  #1ad1ff;
padding:0;
margin: 0;

 }
 
 #nav{
     background-color: white;
     height: 50px;
     position: fixed;
     top: 0;
     width: 100%;
     
 }

 button{
     float: right;
     margin-top: 15px;
     margin-right: 15px;
     background-color: rgb(64, 224, 224);
 }
 #form-style{
     width: 50%;
     margin: auto;
     height: 150px;
     padding-top: 10%
 }



 
